[manager]
ratio = [1, 3, 4]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
linemode = "size"
show_hidden = true
show_symlink = true

[preview]
tab_size = 2
max_width = 600
max_height = 900

[opener]
edit = [
  { run = 'kitty -e nvim "$@"', block = true, for = "unix" },
]
open = [
  { run = 'xdg-open "$@"', desc = "Open", for = "unix" },
]
reveal = [
  { run = 'xdg-open "$(dirname "$0")"', desc = "Reveal", for = "unix" },
]
play = [
  { run = 'mpv "$@"', orphan = true, for = "unix" },
]

[open]
rules = [
  { mime = "text/*", use = "edit" },
  { mime = "image/*", use = "open" },
  { mime = "video/*", use = "play" },
  { mime = "audio/*", use = "play" },
  { mime = "application/json", use = "edit" },
  { mime = "application/pdf", use = "open" },
  { name = "*.html", use = "open" },
  { mime = "*", use = "open" },
]
